body {
    font-size: 45px;
}
h1, h2 {
    text-align: center;
    margin: 15px;
    font-family: sans-serif;
}
div {
    color: #fff;
}
* {
    box-sizing: border-box;
}
.box-inner {
    display: flex;
    flex-wrap: wrap;
}
.box {
    
    border: 5px solid black;
    padding: 5px;
    width: 33%;
    height: 250px;
    background-color: rgb(187, 70, 70);
}